WEB_BASE=/dashboard
SABNZBD_API_URL=http://127.0.0.1:8080/api
SABNZBD_WEB_URL=/sabnzbd/
TRANSMISSION_API_URL=http://127.0.0.1:9091/transmission/rpc
TRANSMISSION_WEB_URL=/transmission
PLEX_API_URL=http://127.0.0.1:32400
PLEX_WEB_URL=/plex/web/index.html
COUCHPOTATO_API_URL=http://127.0.0.1:5000/api
COUCHPOTATO_API_KEY=12345555523
COUCHPOTATO_WEB_URL=/couchpotato
SICKBEARD_API_URL=http://127.0.0.1:8080/sickbeard/api
SICKBEARD_API_KEY=12345555523
SICKBEARD_WEB_URL=/sickbeard
HEADPHONES_API_URL=http://127.0.0.1:8181/headphones/api
HEADPHONES_API_KEY=12345555523
HEADPHONES_WEB_URL=/headphones/home
